.input-button {
    padding: 8px 12px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #de9151;
    font-family: "Nunito", sans-serif;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.input-button:hover {
    background: #e06d0f;
}