<head>
    {% load staticfiles %}
    <title>Biblioteca I.T.I.S Carlo Zuccante</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
  
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

{% block content %}

<h1>Titolo: {{ libro.Titolo }}</h1>
<p><strong>Autore:</strong> {{ libro.Autore }}</a></p>
<p><strong>ISBN:</strong> {{ libro.Isbn }}</p> 
<p><strong>Editore:</strong> {{ libro.Editore }}</p>
<p><strong>Dewey:</strong> {{ libro.Dewey }}</p> 
<p><strong>Disponibile per noleggio :</strong> {{ libro.InPrestito }}</p>
<p><strong>Condizioni del libro :</strong> {{ libro.idStato }}</p>
<p><strong>AnnoPubblicazione:</strong> {{ libro.AnnoPubblicazione }}</p>
<p><strong>Descrizione:</strong> {{ libro.Descrizione }}</p>
<p><strong>Pagine:</strong> {{ libro.Pagine }}</p>

<div style="margin-left:20px;margin-top:20px">

</div>
{% endblock %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
